.header-logo-pic {
    height: 40px; 
    margin-left: 20px;
}

.header-bar {
    align-items: center;
    background-color: #0D1D58;
    color: #FFF8F3;
    display: flex;
    font-family: "Inter";
    justify-content: space-between;
    height: auto;
    padding: 10px;
    width: 100%;
}

.nav-link, .nav-link:focus { color: #FFF8F3; }
.nav-link:hover { color: #A1B1C7; }

nav ul { 
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
} 
  
li {
    display: inline;
    margin: 0 15px;
    white-space: nowrap;
}
  
a {
    color: #FFF8F3;
    text-decoration: none; /* Remove underline from links */
}
  
